@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --home-max-width: 1120px;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    transition: all 3ms;
    box-shadow: inset 0 0 2px grey; 
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  ::-webkit-scrollbar-thumb {
    @apply bg-dark-10; 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-dark-25; 
  }